#caroussel-container-movie,
#caroussel-container-series {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    margin: 3rem;
}

.caroussel-item-movie,
.caroussel-item-serie {
    flex: 0 0 auto;
    width: 11.5%;
    height: 16rem;
    margin-right: 1rem;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    position: relative;
}

.caroussel-item-movie:hover,
.caroussel-item-serie:hover {
    cursor: pointer;
    box-shadow: 4px 4px 15px 0px #000000;
}

.movieTitle {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px black;
}

.movieTitle {
    color: white;
    text-align: center;
}

.caroussel-movie-nav-btn {
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

.caroussel-serie-nav-btn {
    position: absolute;
    bottom: 25%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}


#movie-prev, #series-prev {
    left: 0;
}

#movie-next, #series-next {
    right: 0;
}
