nav{
    height: 3rem;
    width: 100%;
    background-color: aqua
}

.carousel {
    position: relative;
    overflow: hidden;
    margin: 0 2rem 0 2rem;
}
  
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    height: 17rem;
}

.carousel-inner1 {
  display: flex;
  transition: transform 0.5s ease;
  height: 17rem;
}

h2{
  color: white;
  font-size: 2rem !important;
}

.movie {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 0 0 auto;
    width: 25%;
    height: 12rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-size: cover;
    font-family: "netflix";
    box-shadow: -4px -114px 24px 0px rgba(0,0,0,0.47) inset;
    transition: all 0.3s;
}

.movie:hover {
  height: 16rem;
  width: 35%;
  transition: all 0.3s;
}

.divDescription{
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    color: white;
    background-color: black;
    opacity: 0;
}

.movie:hover .divDescription{
  transition: ease 0.3s;
  opacity: 1;
}

.iconWrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.iconWrapper > *:nth-child(n){
  height: 2rem;
  width: 2rem;
  margin: 0 1rem 0 0;
}

.genres{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.genres span{
    border-radius: 2rem;
    border: red solid 0.1rem;
    background-color: #000000;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 0.5rem;
}
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }

  .prev-btn1,
  .next-btn1 {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .prev-btn1 {
    left: 0;
  }
  
  .next-btn1 {
    right: 0;
  }