nav{
    height: 3rem;
    width: 100%;
    background-color: aqua
}

.carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .movie {
    flex: 0 0 auto;
    width: 25%;
    height: 12rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-size: cover;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }