nav{
    height: 3rem;
    width: 100%;
    background-color: aqua
}
.carousel {
  position: relative;
  overflow: hidden;
}

.carousel1 {
    position: relative;
    overflow: hidden;
}
  
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    margin: 2rem 0 2rem 0;
    height: 15rem;
}

.carousel-inner1 {
  display: flex;
  transition: transform 0.5s ease;
  height: 15rem;
}

.movie {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  flex: 0 0 auto;
  width: 25%;
  height: 12rem;
  margin-right: 1rem;
  background-size: cover;
  font-family: "netflix";
  box-shadow: -4px -114px 24px 0px rgba(0,0,0,0.47) inset;
  transition: all 1s;
  border: 0.1rem solid white;
}

.movie:hover {
  width: 30%;
  height: 15rem;
}

.movie:hover .backdrop {
  height: 60%;
}

.movie:hover .divDescription {
  visibility: visible;
  opacity: 1;
  height: 40%;
}

.backdrop, .divDescription {
  transition: height 1s; /* Déplacer la transition ici */
}

.backdrop {
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 1rem;
  border: solid 0.1rem red;
  font-family: "netflix";
  box-shadow: -4px -114px 24px 0px rgba(0,0,0,0.47) inset;
}

.divDescription {
  display: none;
  visibility: hidden;
  opacity: 0;
  padding: 1rem 0 1rem 1rem;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 0%;
  color: white;
  border: solid 0.1rem rgb(54, 76, 162);
}

/* Autres styles inchangés */


.genres{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.genres span{
    border-radius: 2rem;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 0.8rem;
}

h2{
  color: rgb(255, 255, 255);
  font-size: 2rem !important;
}
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 27%;
    transform: translateY(-50%);
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2rem
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }

  .prev-btn1,
  .next-btn1 {
    position: absolute;
    top: 79%;
    transform: translateY(-50%);
    color: #fff;
    border: none;
    padding: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .prev-btn1 {
    left: 0;
  }
  
  .next-btn1 {
    right: 0;
  }