/* -------------------------------- Carousels --------------------------------  */

#caroussel-container-movie,
#caroussel-container-series {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding: 2rem;
    margin: 0rem 3rem 0rem 3rem;
}

.caroussel-item-movie,
.caroussel-item-serie {
    border-radius: 0.5rem;
    flex: 0 0 auto;
    width: 25%;
    height: 11rem;
    margin-right: 1rem;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: -4px -114px 24px 0px rgba(0,0,0,0.47) inset;
    transition: .5s;
}

.caroussel-item-movie:hover,
.caroussel-item-serie:hover {
    transform: scale(150%);
    transition: .5s;
    cursor: pointer;
    z-index: 997;
}

.caroussel-movie-nav-btn,
.caroussel-serie-nav-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
}

#movie-prev, #series-prev {
    left: 1rem;
    color: white;
}

#movie-next, #series-next {
    right: 1rem;
    color: white;
}

#navbarScroll {
    transition: background-color .7s ease;
}

.film {
    position: absolute;
    left: 5.5%;
    margin-bottom: 1rem;
    z-index: 500;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

main {
    background: black;
    padding: 2rem;
}

/* -------------------------------- affichage infos au hover --------------------------------  */

.overlay {
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 998;
}

.caroussel-item-movie:hover .overlay,
.caroussel-item-serie:hover .overlay {
    opacity: 1;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    color: white;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s;
}

.caroussel-item-movie:hover .movie-info,
.caroussel-item-serie:hover .movie-info {
    transition: .3s;
    opacity: 1;
}

.caroussel-item-movie:hover .movieTitle,
.caroussel-item-serie:hover .movieTitle {
    transition: .3s;
    display: none;
}

.movieTitle {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 20%;
    left: 5%;
}

.genres {
    color: white;
    font-size: 0.8rem; 
}

